.container {
  border: solid 1px tomato;
  border-radius: 20px;
  padding: 10px;
  margin: 10px;
  display: flex;
  gap: 10px;
}
.title {
  margin: 0;
}
.button {
  background: tomato;
  color: #fff;
}
